html, body, #app {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
}

.box {
    width: 300px;
    height: 60px;
    background: #f00;
    margin: 5px;
    /*flex-grow: 1; faz os componentes ocuparem toda a largura disponível em tela*/
    /*flex-shrink: 1; faz os componentes transpordarem da página sem eles se "esmagarem" */
    flex: 1 0; /*Junção do flex-grow com o  flex-shrink*/
}